<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>236746915650-05b3o302nuirn5ok0rrq00bjdqd8chu7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.236746915650-05b3o302nuirn5ok0rrq00bjdqd8chu7</string>
	<key>API_KEY</key>
	<string>AIzaSyBnQByYoUhC5hhW-aTxwTmM1e0XkuPzwQI</string>
	<key>GCM_SENDER_ID</key>
	<string>236746915650</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.adriel.toDoApp</string>
	<key>PROJECT_ID</key>
	<string>to-do-tasks-5966b</string>
	<key>STORAGE_BUCKET</key>
	<string>to-do-tasks-5966b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:236746915650:ios:733c7e4df47c57227312db</string>
</dict>
</plist>